.feature-box {
  cursor: pointer;
  background-color: rgba($color-white, .8);
  font-size: $default-font-size;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  padding: 2.5rem;
  border-radius: .3rem;
  text-align: center;
  transition: transform .2s;

  @include respond(tab-port) {
    padding: 2.0rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0rem;
    }
  }

  &:hover {
    transform: scale(1.03) translateY(-1.5rem);
  }
}